*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    /* min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    */

    /* font-family:var(--ff); */
    /* font-weight: var(--fw-400); */
} 

/* #root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
} */

